.discussion-countdown-visual {
	align-items: center;
	display: flex;
	width: 4vw;
	margin: auto;
	position: relative;

	&:before {
		content: url('../styles/clock.svg');
		position: absolute;
		width: 100%;
		top: -23%;
	}
}

