@import "common-styles";

.room-info {
	display: flex;
	flex: 1;
	flex-direction: row;
	height: 8vw;

	.right & {
		flex-direction: row-reverse;
	}

	&-mic {
	    margin: 5%;
		flex-basis: 30%;
		background: url('./styles/micOff.svg') no-repeat;

		&.talking {
			background: url('./styles/micOn.svg') no-repeat;
		}
	}

	&-turn {
		flex-basis: 70%;
		flex-direction: column;
		display: flex;
		justify-content: center;
		padding: 20px;

		&-button.button {
			align-self: center;
			background: @gradiant-grey;
			cursor: default;
			color: #F39200;

			&.on-turn {
				color: #E6332A;

				&:hover {
					background: @gradiant-grey-hover;
					cursor: pointer;
				}
			}
		}
	}
}
