@import "common-styles";

.room-info {
	display: flex;
	flex: 1;
	flex-direction: row;
	height: 8vw;

	.right & {
		flex-direction: row-reverse;
	}

	&-mic {
		flex-basis: 30%;
		border: 1px solid red;

		&.talking {
			border-color: green;
		}
	}

	&-turn {
		flex-basis: 70%;

		&-button {

		}
	}
}
