@import "common-styles";

.video-room-button {
    text-transform: uppercase;
    background-color: @standard-app-color;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.video-room-button.disabled {
    background-color: @button-disabled-color;
    color: #e6e6e6;
}

.video-room-button:hover {
    cursor: pointer;
    background-color: @button-hover-color;
}

.video-room-button.disabled:hover {
    cursor: default;
    background-color: @button-disabled-color;
}